{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="welcome" class="twelve columns">
  <h2>Index</h2>
  <p>Welcome to <b>CthCoin</b>. 

  <p>Cthulhu awakens and all worshippers will be rewarded greatly!</p>

  <p>We all know the Bitcoin cryptocurrency can be easily hacked. Just look at MT.GOX, SheepMarket and so on. We learned from the mistakes they made and we created an all new cryptocurrency. It is centralised, to get rid of the biggest problem: </p><b>The Blockchain.</b>
</div>
{% endblock %}