{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="welcome" class="four columns">
	<h2>Login</h2>
	<form method=post action="/login">

		{{ form.username.label }}
		{{ form.username(class_="u-full-width") }}
		{% if form.username.errors %}
		{% for error in form.username.errors %}
		<div class="alert alert-error">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			{{ error }}
		</div>
		{% endfor %}
		{% endif %}
		
		{{ form.password.label }}
		{{ form.password(class_="u-full-width") }}
		{% if form.password.errors %}
		{% for error in form.password.errors %}
		<div class="alert alert-error">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			{{ error }}
		</div>
		{% endfor %}
		{% endif %}
		
		<label></label>
		<input type=submit class="button-primary" value=Login>
	</form>
</div>
{% endblock %}